* {
	margin: 0;
    padding: 0;

}

body {
	width: 100%;
	background-color: #e8e8e8;
	background-image: url("../img/grid2.png");
	background-repeat: repeat-y repeat-x;
	font-family: Verdana, "Bitstream Vera Sans", "DejaVu Sans", Geneva, sans-serif;
}

h1 {
	font-weight: bold;
	font-size: 16px;
	color: #4A4A4A;
	line-height: 20px;
	margin-top: 10px;
}

h2 {
	font-weight: bold;
	font-size: 14px;
	color: #4A4A4A;
	line-height: 20px;
	margin-top: 10px;
}

h3 {
	font-family: Verdana;
	font-size: 14px;
	color: #9B9B9B;
	line-height: 22px;
	margin: 0px 0 10px 0 ;
}


p {
	font-size: 14px;
	color: #4A4A4A;
	line-height: 20px;
}


/* General Styles */

.container-fluid{
	padding: 60px;
	position: relative;
}

.logo {
	position: absolute;
	left: 0;
	top: 0;
	width: 343px;
	height: 40px;
}

.logo-home {
	background-color: #b71a49
}

.logo-journal {
	background-color: #009AB2;
}

.language {
	position: absolute;
	left: 350px;
	z-index: 2;
}

.language li {
	display: inline-block;
	font-size: 16px;
	margin-top: 10px;
}

.language li:first-child {
	border-right: 1px solid #4A4A4A;
}

.language li a {
	color: #4A4A4A;
	padding: 0 20px 0 20px;
}

.language li a span {
	font-weight: bold;
}


.card, .card-social {
	width: 100%;
	background-color: #fff;
	position: relative;
	margin-bottom: 20px;
	display: block;
}


.card {
	height: 468px;
}

.card-social {
	height: 143px;
}

.card-bottom {
	margin-bottom: 0 !important;
}

.tag {
	height: 30px;
	position: absolute;
	z-index: 2;
	color: #fff;
	text-transform: uppercase;
	padding: 5px 8px 0px 8px;
}

.tag span {
	font-weight: bold;
}

.img-card {
	float: left;
	left: 0;
	top: 0;
	width: 436px;
	height: 100%;
	background-color: #9B9B9B;
	position: relative;
	margin-right: 20px;
}

.text-container {
	padding: 30px 20px 20px 20px;
}


.card a {
	float: right;
	text-decoration: underline;
}

.seeall {
	position: absolute;
	bottom: 25px;
	right: 20px;
}

/* Journal */

.journal{
	background-color: #009AB2;
	left: 0;
	bottom: 0;
}

/* Calendar */

.calendar{
	background-color: #006C93;
	left: 0;
	top: 0;
}

.calendar-row {
	list-style-type: none;
}

.calendar-row .calendar-event {
	float: left;
	margin-bottom: 20px;
}

.calendar-row .calendar-event:nth-child(2){
	border-top: 1px solid #DEDEDE;
	float: left;
}

.calendar-title {
	float: left;
	width: 100%
}

.calendar-title h1 {
	padding-top: 5px;
}

.date-calendar {
	width: 45px;
	float: left;
	font-weight: bold;
	text-align: center;
	margin: 12px 10px 5px 0px;
}

.weekday, .month {
	color: #006C93;
	font-size: 12px;
	margin: 0px;
}

.day {
	font-size: 20px;
	color: #006C93;
	margin: 0px;
}

.calendar-list {
	margin: 5px 0 5px 20px;
	float: left;
}

/* Map */

.map {
	top: 0;
	left: 0;
	background-color: #f39100; 
	font-family: Verdana, "Bitstream Vera Sans", "DejaVu Sans", Geneva, sans-serif;
	font-size: 14px; 
}

.container-map {
	position: relative;
	width: 100%;
}

.expand-btn {
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	width: 50px;
	height: 50px;
	
	color: #fff;
	font-size: 22px;
	text-align: center;
	display: inline-block;
	padding-top: 12px;
}

/* Piazza */

.piazza {
	background-color: #98BF0E;
	left: 0;
	top: 0;
}

.piazza-row {
	display: block;
	list-style-type: none;
	width: 100%;
	margin-top: 20px;
}

.piazza-row li {
	height: 140px;
	margin-bottom: 20px;
}

.piazza-row li:nth-child(2) {
	padding-top: 20px;
	border-top: 1px solid #DEDEDE;
}

.piazzaimg {
	width: 140px;
	height: 140px;
	background-color: #98BF0E;
	float: left;
	margin-right: 20px;
	font-size: 34px;
	text-align: center;
	color: #fff;
	padding-top: 50px;
}


/* Showcase */

.showcase {
	background-color: #e3000f;
	left: 0;
	bottom: 0;
}

/* Social */

.socialtag {
	height: 30px;
	width: 30px;
	position: absolute;
	z-index: 2;
	color: #fff;
	padding: 5px 8px 0px 8px;
	text-align: center;
}


.facebook {
	background-color: #1B5190;
	top: 0;
	left: 0;
}

.socialimg {
	float: left;
	left: 0;
	top: 0;
	width: 143px;
	height: 100%;
	background-color: #9B9B9B;
	margin-right: 20px;
}

.text-container-social {
	padding: 15px 20px 20px 20px;
}

.twitter {
	background-color: #4A90E2;
}

.instagram {
	background-color: #B91547;
}

/* INNER SECTIONS */

.container-inside{
	padding-bottom: 0px !important;
}

.card-inside {
	width: 100%;
	background-color: #fff;
	position: relative;
	display: block;
	height: 928px;
}

/* Bottom Menu */

.row-bottom {
	margin-top: 15px;
}

.bottom-container {
	width: 100%;
	height: 77px;
	background-color: #fff;
}

.bottom-menu {
	padding: 0 20px;
	margin-bottom: 0;
}

.bottom-menu li {
	display: inline-block;
	height: 77px;
	margin-right: 15px;
}

.bottom-menu li:last-child {
	margin-right: 0;
}

.bottom-menu li a {
	display: inline-block;
}

.bottom-menu li .journal-menu{
	border-bottom: 8px solid #009AB2;
}

.bottom-menu li a p {
	padding: 15px 30px 0 30px;
	font-size: 18px;
	color: #6D6E70;
	line-height: 22px;
	text-transform: uppercase;
}

.bottom-menu li a span {
	font-weight: bold;
}

/* Right Menu */

.right-menu {
	width: 480px;
	position: absolute;
	right: 0;
	top: 0;
	background-color: #D8D8D8;
	height: 100%;
	overflow-y: scroll;
}

.right-menu ul li {
	display: block;
	height: 200px;
	padding: 30px 30px 0 30px;
	position: relative;
}

.right-menu ul .content-selected  {
	background-color: #C7C7C7;
	outline: 1px solid #C7C7C7;
	border-bottom: none;
}

.arrow-right {
	position: absolute;
	top: 20px;
	left: 0;
	width: 0; 
  	height: 0; 
 	border-top: 15px solid transparent;
  	border-bottom: 15px solid transparent;
  	border-left: 15px solid #fff;
  	display: none;
}

.right-menu ul .content-selected  .arrow-right {
	display: block;
}

.right-menu ul li a {
	height: 100%;
	display: block;
	border-bottom: 1px solid #C7C7C7;
}

.right-menu ul li:last-child a {
	border: none;
}

.img-menu {
	float: left;
	width: 130px;
	height: 130px;
	background-color: #fff;
	margin-right: 20px;
}


/* Section Contents */

.section-contents {
	float: left;
	position: relative;
	width: 1010px;
	padding: 80px 150px 0 150px;
	overflow-y: scroll;
	height: 925px;
	box-sizing: border-box;
}

.section-contents h1 {
	font-weight: bold;
	font-size: 24px;
	letter-spacing: 0px;
	line-height: 30px;
}

.section-contents h2 {
	font-size: 16px;
	color: #4A4A4A;
	font-weight: bold;
}

.journal-title {
	color: #009AB2;
}

.section-img {
	margin: 10px 0 20px 0;
	width: 100%;
	height: 530px;
	float: left;
}

.section-img img {
	height: 530px;
	width: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
}















