<!DOCTYPE html>
<html>

<head>
	
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   	<meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bauhaus Info Screen</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
    <link href="css/font-awesome.css" rel="stylesheet" />
    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>  
    <script src="js/jsrender.min.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.25.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.25.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css" />
    <script src="js/moment-with-locales.js"></script>
</head>

<body ondragstart="return false;" ondrop="return false;">
  <a href="index.html" class="logo logo-piazza"><img src="img/img-logo-home.svg"></a>
  <ul class="language">
    <li><a class="lan-english"><span>ENG</span></a></li>
    <li><a class="lan-german"><span>DEU</span></a></li>
  </ul>
  <div class="container-fluid container-inside">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="card-inside" style="width: 1548px;">
          <div id="piazza-content" class="section-contents mCustomScrollbar" data-mcs-theme="minimal-dark">
            
          </div>

          <div class="right-menu" data-mcs-theme="minimal-dark">
            <ul id="piazza-menu">
      
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-bottom">
      <div class="col-md-10 col-md-offset-1">
        <div class="bottom-container">
          <ul class="bottom-menu">
            <li><a href="index.html"><p><span class=""><span class="bold">Main</span> <br>Screen</span></p></a></li>
            <li><a href="journal.html"><p><span class="bold">Bauhaus.Journal</span> <br>Online</p></a></li>
            <li><a href="showcase.html"><p><span class="bold">Experiment.Bauhaus</span> <br>Showcase</p></a></li>
            <li><a href="calendar.html"><p><span class="english"><span class="bold">Calendar</span> <br>Upcoming Events</span> <span class="german"><span class="bold">Veranstaltungs </span><br>kalender</span></p></a></li>
            <li><a href="piazza.html" class="piazza-menu"><p><span class="bold">Pinnwand</span> <br>Piazza</p></a></li>
            <li><a href="map.html"><p><span class="german"><span class="bold">Lagepläne </span><br> Dein Weg</span><span class="english"><span class="bold">Find</span> <br>Your Way</span></p></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <script id="piazza-content-template" type="text/x-jsrender">
    <h1 class="piazza-title">{{:title}}</h1>
    {{if image_urls.length}}
    <div class="section-img"><img src="./piazza/full/{{for images tmpl='#piazza-image-template'/}}">
    {{/if}}
    </div>
    <div class="content-info">
      <p>
        <b><span class="english">Author</span> <span class="german">Autor</span></b>
        <br>
        {{:author}}<br>
        <br>
        <b><span class="english">Published</span> <span class="german">Veröffentlicht am</span></b>
        <br>
        {{:date}}
        <br>
      </p>
    </div>
    <div class="content-description">
      <h2>{{:title}}</h2>
      <p>
      {{:description}}
      </p>
    </div>
  </script>
    
<script id="piazza-menu-template" type="text/x-jsrender">
    <li id="piazza-menu-item-{{:#index+1}}">
      <a href="#" onclick="piazzaMenuClickHandler({{:#index+1}});">
        <div class="arrow-right"></div>
        {{if image_urls.length}}
        <div class="img-menu"><img src="./piazza/thumbs/small/{{for images tmpl='#piazza-image-template'/}}"></div>
        {{else}}
        <div class="img-piazza"></div>
        {{/if}}
        <h3>{{:author}}</h3>
        <h1>{{:title}}</h1>
      </a>
    </li>
  </script>
  <script id="piazza-image-template" type="text/x-jsrender">{{>path}}</script>

  <script>
    function piazzaMenuClickHandler(id) {
      // remove content-selected class from all list elements
      $('#piazza-menu li').removeClass('content-selected');
      // set element as marked
      $('#piazza-menu-item-' + id).addClass('content-selected');
      // scroll to item position in menu
      $(".right-menu").mCustomScrollbar("scrollTo", "#piazza-menu-item-" + id);
      // fade out content
      try {
      $('.section-contents').removeClass('mCustomScrollbar')
      $('.section-contents').mCustomScrollbar("destroy");
      }
      catch(err) {}
      $('.section-contents').fadeOut(200, function() {
        // replace content
        var template = $.templates('#piazza-content-template');
        var htmlOutput = template.render(window.piazza_data[id - 1]);
        console.log(htmlOutput);
        $('#piazza-content').html(htmlOutput)
        $('#piazza-content').mCustomScrollbar().fadeIn(200);
      });
    }

    var getUrlParameter = function getUrlParameter(sParam) {
      var sPageURL = decodeURIComponent(window.location.search.substring(1)),
          sURLVariables = sPageURL.split('&'),
          sParameterName,
          i;

      for (i = 0; i < sURLVariables.length; i++) {
          sParameterName = sURLVariables[i].split('=');

          if (sParameterName[0] === sParam) {
              return sParameterName[1] === undefined ? true : sParameterName[1];
          }
      }
    };

    $(".right-menu").mCustomScrollbar({
        scrollButtons:{enable:true,scrollType:"stepped"},
        keyboard:{scrollType:"stepped"},
        mouseWheel:{scrollAmount:200,normalizeDelta:true},
        snapAmount:200,
        snapOffset:0
    });
    $.getJSON("./piazza.json", function(json) {
      window.piazza_data = json;
      // $.each(window.piazza_data, function(k, v) {
      //   moment.locale('en');
      //   var date = moment(v['date']);
      //   console.log(date);
      // });
      var template = $.templates("#piazza-menu-template");
      var htmlOutput = template.render(window.piazza_data);
      $("#piazza-menu").html(htmlOutput);
      var selected_id = getUrlParameter("id");
      if(selected_id != undefined) {
        piazzaMenuClickHandler(selected_id);
      }
      else {
        piazzaMenuClickHandler(1);
      }
      /*json.forEach(function(journal_item) {
        console.log(journal_item);
      }); */
    });
  </script>


</body>

</html>
