<!DOCTYPE html>
<html>

<head>
	
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   	<meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bauhaus Info Screen</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    
    
    <link href="css/font-awesome.css" rel="stylesheet" />
    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/bootstrap.js"></script>
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>  
    <script src="js/jsrender.min.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.25.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.25.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css" />
    <script src="js/flickity.pkgd.min.js"></script>
    <link rel="stylesheet" href="css/flickity.css" media="screen"/>
    <link rel="stylesheet" href="css/blueimp-gallery.min.css">
</head>

<body ondragstart="return false;" ondrop="return false;">
  <a href="index.html" class="logo logo-showcase"><img src="img/img-logo-home.svg"></a>
  <!--
  <ul class="language">
    <li><a class="lan-english"><span>ENG</span></a></li>
    <li><a class="lan-german"><span>DEU</span></a></li>
  </ul>
  -->
  <div class="container-fluid container-inside">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="card-inside" style="width: 1548px;">
          <div id="showcase-content" class="section-contents mCustomScrollbar" data-mcs-theme="minimal-dark">


              
              <div class="content-info">
                <h2>Projektinformation</h2>
                <p>
                  <b><span class="english">Submitted by </span> <span class="german">Eingereicht von</span></b><br>
                  Claire Dorweiler
                  <br><br>
                  <b><span class="english">Co-Authors</span> <span class="german">Mitwirkende</span> </b><br>
                  Melisa Palacio López, Bert Liebold, Jakob Stolz
                  <br><br>
                  <b><span class="english">Mentors</span> <span class="german">Lehrende</span> </b><br>
                  Prof. Dr. Walter Bauer-Wabnegg, Prof. Micky Remann
                  <br><br>
                  Winter semester 2015/16
                  <br><br>
                  <b><span class="english">Faculty</span> <span class="german">Fakultät</span> </b><br>
                  Art and Design 
                  <br><br>
                  <b><span class="english">Degree Programme </span><span class="german">Studiengang:</span></b><br>
                  Media Art and Design -Study programme Media Art und Design (MAD) (english) (Master of Fine Arts (M.F.A.)) 
                  <br><br>
                  Master project
                  <hr>
                  Links <br>
                  <span class="break">https://vimeo.com/user52530027</span>
                </p>
              </div>
          </div>
               
          <div class="right-menu" data-mcs-theme="minimal-dark">
            <ul id="showcase-menu">
           
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-bottom">
      <div class="col-md-10 col-md-offset-1">
        <div class="bottom-container">
          <ul class="bottom-menu">
            <li><a href="index.html"><p><span class=""><span class="bold">Main</span> <br>Screen</span></p></a></li>
            <li><a href="journal.html"><p><span class="bold">Bauhaus.Journal</span> <br>Online</p></a></li>
            <li><a href="showcase.html" class="showcase-menu"><p><span class="bold">Experiment.Bauhaus</span> <br>Showcase</p></a></li>
            <li><a href="calendar.html"><p><span class="english"><span class="bold">Calendar</span> <br>Upcoming Events</span> <span class="german"><span class="bold">Veranstaltungs </span><br>kalender</span></p></a></li>
            <li><a href="piazza.html"><p><span class="bold">Pinnwand</span> <br>Piazza</p></a></li>
            <li><a href="map.html"><p><span class="german"><span class="bold">Lagepläne </span><br> Dein Weg</span><span class="english"><span class="bold">Find</span> <br>Your Way</span></p></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
    
  
  <script id="showcase-content-template" type="text/x-jsrender">
    <h1 class="showcase-title">{{:title}}</h1>
      <div class="pic-video">
      <ul>
        <li >
          <div id="image-btn">
            <img src="img/icn-picture.svg">
          </div>
        </li>
	{{if video}}
        <li >
          <div id="video-btn" class="icn-opacity">
            <img src="img/icn-video.svg">
          </div>
        </li>
	{{/if}}
      </ul>
      </div>
      <!-- <div class="row row-carouselco"> -->
      <div class="row" style="width:100%;height:420px;overflow:hidden;float:left;">
	    <div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel" style="width:100%; background: #fff; box-shadow: none;">
		<div class="slides"></div>
		<h3 class="title"></h3>
		<a class="prev">‹</a>
		
		<a class="next">›</a>
		<!-- <a class="play-pause"></a> -->
		<ol class="indicator"></ol>
	    </div>
	    {{if video}}
		{{include video }}
		<div id="video" style="display: none;margin-left:20px;">
				<iframe src="http:{{>src}}" width="680" height="400" frameborder="0"></iframe>
		</div> 
		{{/include}}
	    {{/if}}
      </div>


      <div class="content-info">
        <h2>Projektinformation</h2>
        {{:information}}
      </div>
      <div class="content-description">
        <h2>Projektbeschreibung</h2>
        {{:description}}
      </div>
    </div>

	    <div id="links" style="display: none;">

              {{for images tmpl='#showcase-item-template' /}}
	    </div>
  </script>
    <script id="showcase-item-template" type="text/x-jsrender">
      <a href="showcase/full/{{>path}}" title="">
	<img src="showcase/full/{{>path}}" alt="">
      </a>
    </script>
  

  <script id="showcase-menu-template" type="text/x-jsrender">
    <li id="showcase-menu-item-{{:#index+1}}">
      <a href="#" onclick="showcaseMenuClickHandler({{:#index+1}});">
        <div class="arrow-right"></div>
        <div class="img-menu"><img src="./showcase/thumbs/small/{{for images tmpl='#showcase-image-template'/}}"></div>
        <h3>{{:author}}</h3>
        <h1>{{:title}}</h1>
      </a>
    </li>
  </script>
  <script id="showcase-image-template" type="text/x-jsrender">{{if #index == 0}}{{>path}}{{/if}}</script>

  <script>
    function showcaseMenuClickHandler(id) {
      // remove content-selected class from all list elements
      $('#showcase-menu li').removeClass('content-selected');
      // set element as marked
      $('#showcase-menu-item-' + id).addClass('content-selected');
      // scroll to item position in menu
      $(".right-menu").mCustomScrollbar("scrollTo", "#showcase-menu-item-" + id);
      // fade out content
      try {
        $('.section-contents').removeClass('mCustomScrollbar')
        $('.section-contents').mCustomScrollbar("destroy");
      }
      catch(err) {}
      try {
        //$('#showcase-carousel').flickity('destroy');
      }
      catch(err) {}
      $('.section-contents').fadeOut(500, function() {
        // replace content
        var template = $.templates('#showcase-content-template');
        var htmlOutput = template.render(window.showcase_data[id - 1]);
        $('#showcase-content').html(htmlOutput);
        
    /* BLUEIMP SCRIPT HERE */

    /* ****************************

    */
    $.getScript('js/blueimp-gallery.min.js', function()
    {
	document.getElementById('links').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event},
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
	};
       
	blueimp.Gallery(
	    document.getElementById('links').getElementsByTagName('a'),
	    {
		container: '#blueimp-gallery-carousel',
		carousel: true
	    }
	);

    });
     
    if ( $("#video-btn").length ){ 
	$( "#video-btn" ).click(function() {
            $('#blueimp-gallery-carousel').fadeOut(500, function() { 
               $('#video').fadeIn(500, function() {});
            });
            $("#image-btn").addClass("icn-opacity");
            $("#video-btn").removeClass("icn-opacity");
        });
	$( "#image-btn").click(function() {
	    $('#video').fadeOut(500, function() {
               $('#blueimp-gallery-carousel').fadeIn(500, function() {});
            });
            $("#image-btn").removeClass("icn-opacity");
            $("#video-btn").addClass("icn-opacity");

	});
    }
        
        $('#showcase-content').mCustomScrollbar().fadeTo(500, 1.0, function() {
          //$('#showcase-carousel').flickity();
          $('#showcase-carousel').flickity({ "wrapAround": true })
        })
    
      });
    }

    var getUrlParameter = function getUrlParameter(sParam) {
      var sPageURL = decodeURIComponent(window.location.search.substring(1)),
          sURLVariables = sPageURL.split('&'),
          sParameterName,
          i;

      for (i = 0; i < sURLVariables.length; i++) {
          sParameterName = sURLVariables[i].split('=');

          if (sParameterName[0] === sParam) {
              return sParameterName[1] === undefined ? true : sParameterName[1];
          }
      }
    };

    $(".right-menu").mCustomScrollbar({
        scrollButtons:{enable:true,scrollType:"stepped"},
        keyboard:{scrollType:"stepped"},
        mouseWheel:{scrollAmount:200,normalizeDelta:true},
        snapAmount:200,
        snapOffset:0
    });
    
    $.getJSON("./showcase.json", function(json) {
      window.showcase_data = json;
      var template = $.templates("#showcase-menu-template");
      var htmlOutput = template.render(json);
      console.log(htmlOutput)
      $("#showcase-menu").html(htmlOutput);
      var selected_id = getUrlParameter("id");
      if(selected_id != undefined) {
        showcaseMenuClickHandler(selected_id);
      }
      else {
        showcaseMenuClickHandler(1);
      }
      /*json.forEach(function(journal_item) {
        console.log(journal_item);
      }); */

    });
    
  </script>

</body>
</html>
